body {
  position:relative;
  background-color: white;
  color:black;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1vw;
  margin-right: 1vw;
}

.allgal{
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 20%;
}

.galleft {
  position: relative;
  width:30%;
  margin:10px;
}
.galright {
  position: relative;
  width:30%;
  margin:10px;
}

.flotehold {
  position: relative;
  opacity: .5;
  height:40vh;
}

.tite {
  margin-left:50px;
  margin-right:50px;
  margin-top:100px;
  margin-bottom:100px;
  position: sticky;
  position: -webkit-sticky;
  z-index: 50;
}

h1 {
  font-family: 'Rock Salt', cursive;
  line-height: 1.5;
}

h3 {
  font-size: 13px;
  font-weight: lighter;
  color: #b5b5b5;
}

a {
  color: blue;
}

p {
  font-style: italic;
  padding: 20px;
}

.info {
  position: absolute;
  justify-content: center;
  align-content: center;
  z-index: 10;
  left: 49.5%;
  font-size: 13px;
  font-weight: lighter;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  font-size: 13px;
  font-weight: lighter;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}
.close:hover,
.close:focus {
  color: lightgrey;
  text-decoration: none;
  cursor: pointer;
}
#myBtn {
  background-color: white;
  border: none;
  color:grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #b5b5b5;
}



#flote {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  left: 0px;
  }
  #flote2 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  right: 0px;
  }
  #flote3 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  left: 0px;
  }
  #flote4 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  right: 0px;
  }
  #flote5 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  left: 0px;
  }
  #flote6 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  right: 0px;
  }
  #flote7 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  left: 0px;
  }
  #flote8 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  right: 0px;
  }
  #flote9 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  left: 0px;
  }
  #flote10 {
  position: absolute;
  z-index: 10;
  cursor: move;
  max-width: 500px;
  right: 0px;
  }
#flote11 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    left: 0px;
    }
    #flote12 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    right: 0px;
    }
    #flote13 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    left: 0px;
    }
    #flote14 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    right: 0px;
    }
    #flote15 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    left: 0px;
    }
    #flote16 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    right: 0px;
    }
    #flote17 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    left: 0px;
    }
    #flote18 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    right: 0px;
    }
    #flote19 {
    position: absolute;
    z-index: 10;
    cursor: move;
    max-width: 500px;
    left: 0px;
    }


@media only screen and (max-width: 800px) {

  .allgal{
    flex-direction: column;
  }

img {
  width:70vw;
}

.galleft {
  width:90%;
}

.galright {
  width:90%;
}


}
