html {
  scroll-behavior: smooth;
}

body {
  position:relative;
  background-color: white;
  color:black;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  overflow-y: hidden;
}

.instruction {
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: white;
}

.main {
  margin: 10%;
}

textarea {
  resize: none;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 50em;
  max-width: -webkit-fill-available;
}

#answer {
  width: 100%;
}

.submit {
  background-color: grey;
  border: none;
  border-radius: 10px;
  color:white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

a {
  color:blue;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
}

.close:hover,
.close:focus {
  color: lightgrey;
  text-decoration: none;
  cursor: pointer;
}

.info {
  position: absolute;
  justify-content: center;
  align-content: center;
  z-index: 10;
  left: 49.5%;
  top:70vh;
}

.infoR {
  position: absolute;
  justify-content: center;
  align-content: center;
  z-index: 10;
  left: 49.5%;
  top:70vh;
}

#myBtn {
  background-color: white;
  border: none;
  color:grey;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

#myBtn:hover,
#myBtn:focus {
  background-color: lightgrey;
  cursor: help;
}

.ah {
  margin-top: 10%;
}


@media only screen and (max-width: 800px) {
  .modal-content {
    width: 80%;
  }

textarea {
  max-width: -webkit-fill-available;
  width: 30em;
}

.ah {
  margin-top: 50%;
}


  .info {
    left: 45%;
    top:80vh;
  }

  .infoR {
    left: 45%;
    top:57vh;
  }

}
