html {
  scroll-behavior: smooth;
}

body {
  position:relative;
  background-color: white;
  color:black;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin: 10%;
}

.instruction {
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
}

textarea {
  resize: none;
  margin: 20px;
  font-family: 'Open Sans', sans-serif;
}

#answer {
  width: 100%;
}

.submit {
  background-color: grey;
  border: none;
  border-radius: 10px;
  color:white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

a {
  color:blue;
}
